<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>
<table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Título</th>
        <th scope="col">Slug</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <th scope="row"><%= category.id %></th>
        <td><%= category.title %></td>
        <td><%= category.slug %></td>
        <td>
          <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">
            <span class="material-icons">
              mode_edit
            </span>
          </a>
          
          <a id="deleteLink" href="/categories/delete/<%= category.id %>" class="btn btn-danger">
            <span class="material-icons">
              delete_forever
            </span>
          </a>
        </td>
      </tr>
      <% }) %> 
    </tbody>
</table>

<%- include('../../partials/footer') %>
<script>
(function readyJS(win,doc){
  if(doc.querySelectorAll("#deleteLink"))
  {
    for(let i = 0; i<doc.querySelectorAll('#deleteLink').length; i ++) {
        doc.querySelectorAll('#deleteLink')[i].addEventListener('click', (event) => {
        var decision = confirm("Você tem certeza que deseja deletar?");
        if(decision) {
          return true;
        } else {
          event.preventDefault();
        }
    });
  }
}
})(window, document);
</script>